<h3>Cart</h3>
<a [routerLink]="'/shipping'">Shipping cost</a>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">NAME</label>
    <input type="text" id="name" formControlName="name" />
  </div>

  <div>
    <label for="address">ADDRESS</label>
    <input type="text" id="address" formControlName="address" />
  </div>

  <button type="submit" (click)="onSubmit()">Purchase</button>
</form>
